@import "./main.css"
@import "./constants.styl"

a
	color: color7;
	
a:hover,
a:focus
	color: color11;
	text-decoration: underline;

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a
	background-color: color8;
	background-image: -moz-linear-gradient(top, color7, color9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(color7), to(color9));
	background-image: -webkit-linear-gradient(top, color7, color9);
	background-image: -o-linear-gradient(top, color7, color9);
	background-image: linear-gradient(to bottom, color7, color9);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff187794', endColorstr='#ff14657e', GradientType=0);"
	
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus 
	background-color: color8;
	background-image: -moz-linear-gradient(top, color7, color9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(color7), to(color9));
	background-image: -webkit-linear-gradient(top, color7, color9);
	background-image: -o-linear-gradient(top, color7, color9);
	background-image: linear-gradient(to bottom, color7, color9);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcolor7', endColorstr='#ffcolor9', GradientType=0);"
  
.btn-primary
	background-color: color6;
	background-image: -moz-linear-gradient(top, color5, color7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(color5), to(color7));
	background-image: -webkit-linear-gradient(top, color5, color7);
	background-image: -o-linear-gradient(top, color5, color7);
	background-image: linear-gradient(to bottom, color5, color7);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcolor5', endColorstr='#ffcolor7', GradientType=0);
	border-color: color7 color7 color11;
	*background-color: color7;"
	
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
	background-color: color7;	
	*background-color: color9;
	
.btn-primary:active,
.btn-primary.active
	background-color: color10 \9;

.btn-link
	color: color7;
	
.btn-link:hover,
.btn-link:focus
	color: color11;
	
.btn-group.open .btn-primary.dropdown-toggle
	background-color: color7
	
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus
	background-color: color10
	
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus
	background-color: color10
	
.nav .dropdown-toggle .caret
	border-top-color: color7;
	border-bottom-color: color7;
	
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret
	border-top-color: color11;
	border-bottom-color: color11;
	
a.thumbnail:hover,
a.thumbnail:focus
	border-color: color7;
	
a.tag:hover
	background-color: color5;
	border: 1px solid color7;
	-webkit-box-shadow: inset 0 1px 0 color4;
	-moz-box-shadow: inset 0 1px 0 color4;
	box-shadow: inset 0 1px 0 color4;
	
.banner
	background-color: color7;
	
.media-view:hover,
.media-view.hovered
	border-color: color7;
	
.media-view:hover .banner,
.media-view.hovered .banner
	background-color: color7;

.editor .editor-info-block a
	color: color7;
	
.control-custom.disabled .checkbox.btn
	background-color: color6;
	background-image: -moz-linear-gradient(top, color5, color7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(color5), to(color7));
	background-image: -webkit-linear-gradient(top, color5, color7);
	background-image: -o-linear-gradient(top, color5, color7);
	background-image: linear-gradient(to bottom, color5, color7);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcolor5', endColorstr='#ffcolor7', GradientType=0);"
	border-color: color7 color7 color11;
	*background-color: color7;

.control-custom.disabled .checkbox.btn:hover,
.control-custom.disabled .checkbox.btn:focus,
.control-custom.disabled .checkbox.btn:active,
.control-custom.disabled .checkbox.btn.active,
.control-custom.disabled .checkbox.btn.disabled,
.control-custom.disabled .checkbox.btn[disabled]
	background-color: color7;
	*background-color: color9;
	
.control-custom.disabled .checkbox.btn:active,
.control-custom.disabled .checkbox.btn.active
	background-color: color10 \9;
	
.resource-list.reordering .resource-item.ui-sortable-helper
	border: 1px solid color7;
	
.resource-list.reordering .resource-item.ui-sortable-helper .handle
	border-color: color7;
	
.view-list li a.active,
.view-list li a:hover
	border-color: color7;
	
.view-list li a.active .icon,
.view-list li a:hover .icon
	background-color: color7;
	
.view-list li .arrow
	border-top-color: color7;
	
.view-list li.active a
	border-color: color7;

.view-list li.active a .icon
	background-color: color7;
	
.view-list.stacked::-webkit-scrollbar-thumb:hover
	background-color: color7
	
.homepage .module-search .module-content
	background-color: color7;
	
.view-list.stacked::-webkit-scrollbar-thumb:hover
	background-color: color7
	
.homepage .module-search .tags
	background-color: color10

.account-masthead
	background: color10 url("../../../base/images/bg.png");
	
.account-masthead .account ul li
	border-left: 1px solid color11;
	
.account-masthead .account ul li a
	color: color2;
	
.account-masthead .account ul li a:hover
	color: #e0f0e3;
	background-color: color11;
	
.account-masthead .account .notifications a span.badge
	background-color: color11;
	color: color2;

.account-masthead .account .notifications a:hover span
	background-color: color12;
	
.masthead
	background: color7 url("../../../base/images/bg.png");
	
.masthead input[type="text"]
	border-color: color9;

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a 
	background-color: color10;
	
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled]
	background-color: color10;
	
.site-footer
	background: color7 url("../../../base/images/bg.png");
	
.site-footer input[type="text"]
	border-color: color9;

.site-footer .navigation .nav-pills li a:hover,
.site-footer .navigation .nav-pills li.active a
	background-color: color10;
	
.site-footer .btn-navbar,
.site-footer .btn-navbar:hover,
.site-footer .btn-navbar:focus,
.site-footer .btn-navbar:active,
.site-footer .btn-navbar.active,
.site-footer .btn-navbar.disabled,
.site-footer .btn-navbar[disabled]
	background-color: color10;
	
.site-footer,
.site-footer label,
.site-footer small
	color: color3

.site-footer a
	color: color3;
	
.attribution small
	color: color3;
	
.popover-followee .nav li a i
	background-color: color7;

.popover-followee .nav li.active a i
	color: color7;
	
body
	background: #fff url("../../../base/images/bg.png");