//LEAVE THIS UNCHANGED
original_green_bar_color=#2f9b45
original_green_bar_color_hue=hue(original_green_bar_color)

//CAN CHANGE FROM HERE
mainBackgroundColor = #222222

fontFamily='Helvetica, Arial, sans-serif;'

fontColor=#FF0000
fontFamilyBody='Georgia, Times, Serif'

//ADD YOUR COLOR HERE
inesc_color=#2681B8
feup_color=#8C2D19
up_color=#5B3987

//CHANGE THIS COLOR to change the overall tone of all the elements in the CKAN website (put here the color you have added before)

target_color=up_color
target_hue=hue(target_color)

hue_rotate=target_hue - original_green_bar_color_hue

color1=spin(#e0f0e3, hue_rotate)
color2=spin(#cbe6d1, hue_rotate)
color3=spin(#acd7b5, hue_rotate)
color4=spin(#61cf77, hue_rotate)
color5=spin(#3bc256, hue_rotate)
color6=spin(#36b24f, hue_rotate)
color7=spin(#2f9b45, hue_rotate)
color8=spin(#2d9342, hue_rotate)
color9=spin(#29873c, hue_rotate)
color10=spin(#237434, hue_rotate)
color11=spin(#1d602b, hue_rotate)
color12=spin(#174d22, hue_rotate)
