@import "./main.css";
a {
  color: #5e2f9b;
}
a:hover,
a:focus {
  color: #3b1d60;
  text-decoration: underline;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #5a2d93;
  background-image: -moz-linear-gradient(top, #5e2f9b, #522987);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e2f9b), to(#522987));
  background-image: -webkit-linear-gradient(top, #5e2f9b, #522987);
  background-image: -o-linear-gradient(top, #5e2f9b, #522987);
  background-image: linear-gradient(to bottom, #5e2f9b, #522987);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff187794', endColorstr='#ff14657e', GradientType=0);";
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #5a2d93;
  background-image: -moz-linear-gradient(top, #5e2f9b, #522987);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e2f9b), to(#522987));
  background-image: -webkit-linear-gradient(top, #5e2f9b, #522987);
  background-image: -o-linear-gradient(top, #5e2f9b, #522987);
  background-image: linear-gradient(to bottom, #5e2f9b, #522987);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcolor7', endColorstr='#ffcolor9', GradientType=0);";
}
.btn-primary {
  background-color: #6c36b2;
  background-image: -moz-linear-gradient(top, #753bc2, #5e2f9b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#753bc2), to(#5e2f9b));
  background-image: -webkit-linear-gradient(top, #753bc2, #5e2f9b);
  background-image: -o-linear-gradient(top, #753bc2, #5e2f9b);
  background-image: linear-gradient(to bottom, #753bc2, #5e2f9b);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcolor5', endColorstr='#ffcolor7', GradientType=0);
	border-color: color7 color7 color11;
	*background-color: color7;";
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #5e2f9b;
  *background-color: #522987;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #472374 9;
}
.btn-link {
  color: #5e2f9b;
}
.btn-link:hover,
.btn-link:focus {
  color: #3b1d60;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #5e2f9b;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background-color: #472374;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #472374;
}
.nav .dropdown-toggle .caret {
  border-top-color: #5e2f9b;
  border-bottom-color: #5e2f9b;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #3b1d60;
  border-bottom-color: #3b1d60;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #5e2f9b;
}
a.tag:hover {
  background-color: #753bc2;
  border: 1px solid #5e2f9b;
  -webkit-box-shadow: inset 0 1px 0 #9161cf;
  -moz-box-shadow: inset 0 1px 0 #9161cf;
  box-shadow: inset 0 1px 0 #9161cf;
}
.banner {
  background-color: #5e2f9b;
}
.media-view:hover,
.media-view.hovered {
  border-color: #5e2f9b;
}
.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #5e2f9b;
}
.editor .editor-info-block a {
  color: #5e2f9b;
}
.control-custom.disabled .checkbox.btn {
  background-color: #6c36b2;
  background-image: -moz-linear-gradient(top, #753bc2, #5e2f9b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#753bc2), to(#5e2f9b));
  background-image: -webkit-linear-gradient(top, #753bc2, #5e2f9b);
  background-image: -o-linear-gradient(top, #753bc2, #5e2f9b);
  background-image: linear-gradient(to bottom, #753bc2, #5e2f9b);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcolor5', endColorstr='#ffcolor7', GradientType=0);";
  border-color: #5e2f9b #5e2f9b #3b1d60;
  *background-color: #5e2f9b;
}
.control-custom.disabled .checkbox.btn:hover,
.control-custom.disabled .checkbox.btn:focus,
.control-custom.disabled .checkbox.btn:active,
.control-custom.disabled .checkbox.btn.active,
.control-custom.disabled .checkbox.btn.disabled,
.control-custom.disabled .checkbox.btn[disabled] {
  background-color: #5e2f9b;
  *background-color: #522987;
}
.control-custom.disabled .checkbox.btn:active,
.control-custom.disabled .checkbox.btn.active {
  background-color: #472374 9;
}
.resource-list.reordering .resource-item.ui-sortable-helper {
  border: 1px solid #5e2f9b;
}
.resource-list.reordering .resource-item.ui-sortable-helper .handle {
  border-color: #5e2f9b;
}
.view-list li a.active,
.view-list li a:hover {
  border-color: #5e2f9b;
}
.view-list li a.active .icon,
.view-list li a:hover .icon {
  background-color: #5e2f9b;
}
.view-list li .arrow {
  border-top-color: #5e2f9b;
}
.view-list li.active a {
  border-color: #5e2f9b;
}
.view-list li.active a .icon {
  background-color: #5e2f9b;
}
.view-list.stacked::-webkit-scrollbar-thumb:hover {
  background-color: #5e2f9b;
}
.homepage .module-search .module-content {
  background-color: #5e2f9b;
}
.view-list.stacked::-webkit-scrollbar-thumb:hover {
  background-color: #5e2f9b;
}
.homepage .module-search .tags {
  background-color: #472374;
}
.account-masthead {
  background: #472374 url("../../../base/images/bg.png");
}
.account-masthead .account ul li {
  border-left: 1px solid #3b1d60;
}
.account-masthead .account ul li a {
  color: #d7cbe6;
}
.account-masthead .account ul li a:hover {
  color: #e0f0e3;
  background-color: #3b1d60;
}
.account-masthead .account .notifications a span.badge {
  background-color: #3b1d60;
  color: #d7cbe6;
}
.account-masthead .account .notifications a:hover span {
  background-color: #2f174d;
}
.masthead {
  background: #5e2f9b url("../../../base/images/bg.png");
}
.masthead input[type="text"] {
  border-color: #522987;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
  background-color: #472374;
}
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
  background-color: #472374;
}
.site-footer {
  background: #5e2f9b url("../../../base/images/bg.png");
}
.site-footer input[type="text"] {
  border-color: #522987;
}
.site-footer .navigation .nav-pills li a:hover,
.site-footer .navigation .nav-pills li.active a {
  background-color: #472374;
}
.site-footer .btn-navbar,
.site-footer .btn-navbar:hover,
.site-footer .btn-navbar:focus,
.site-footer .btn-navbar:active,
.site-footer .btn-navbar.active,
.site-footer .btn-navbar.disabled,
.site-footer .btn-navbar[disabled] {
  background-color: #472374;
}
.site-footer,
.site-footer label,
.site-footer small {
  color: #bfacd7;
}
.site-footer a {
  color: #bfacd7;
}
.attribution small {
  color: #bfacd7;
}
.popover-followee .nav li a i {
  background-color: #5e2f9b;
}
.popover-followee .nav li.active a i {
  color: #5e2f9b;
}
body {
  background: #fff url("../../../base/images/bg.png");
}
